@import "src/styles/params";


.login {
  max-width: $login-width;
  border: 1px dotted #ccc;

  & .alert {
    color: white;
    background-color: red;
    font-size: 15px;
  }

  .invalid {
    input {
      border-color: red;
    }
  }

  & .validation {
    color: red;
    background-color: white;
  }
}
