<div class="my-3">
  <div class="card p-3 mx-auto">
    <div class="d-flex flex-column p-2" *ngIf="!isVisible">
      <h5 class="text-center">{{ approveResult.message }}</h5>
      <span class="ms-2">Резолюция: {{ approveResult.resolution }}</span>
      <span class="ms-2">Комментарий: {{ approveResult.comment || '-' }}</span>
    </div>
    <div class="card-body"
         *ngIf="isVisible"
    >
      <h5>{{ documentInfo.title }}</h5>
      <p>{{ documentInfo.text }}</p>
      <p>{{ documentInfo.description }}</p>
      <div class="form-edit-wrapper p-3">
        <h5>Утверждение документа</h5>
        <form [formGroup]="documentForm" (ngSubmit)="approve()">
          <div class="d-flex flex-column"
               [ngClass]="{ invalid: documentForm.get('resolution')?.touched && documentForm.get('resolution')?.invalid }"
          >
            <label for="exampleFormControlSelect">
              Резолюция
              <span class="form-color">*</span>
            </label>
            <select class="form-select-sm" (click)="resDetection()" id="exampleFormControlSelect" formControlName="resolution">
              <option>Полностью согласен</option>
              <option>Согласен</option>
              <option>Не согласен</option>
              <option>Разрешаю красить в синий цвет</option>
            </select>
          </div>
          <div class="d-flex flex-column"
               [ngClass]="{ invalid: documentForm.get('comment')?.touched && documentForm.get('comment')?.invalid }"
          >
            <label for="exampleFormControlText">Комментарий</label>
            <textarea class="form-control-sm" id="exampleFormControlText" cols="30" rows="5" formControlName="comment"></textarea>
          </div>
          <div class="d-flex flex-wrap justify-content-around mt-3">
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="documentForm.invalid || isReject"
            >
              Утвердить
            </button>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="documentForm.invalid || isApprove"
            >
              Отклонить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary"
            type="button"
            (click)="exit()"
    >
      Выйти
    </button>
  </div>
</div>
