@import "src/styles/params";


.card {
  max-width: $width;
  border: 1px solid #999;
  border-radius: 5px;
}

.form-edit-wrapper {
  max-width: $width;

  & .form-color {
    color: red;
  }

  .invalid {
    input, select {
      border-color: red;
      border-width: 1px;
    }
  }
}
