<div id="document-wrapper">
  <div class="card">
    <div class="approve" *ngIf="isVisibleResult">
      {{ approveResult.message }}
    </div>
    <div class="card-body"
         *ngIf="isVisible"
    >
      <h5 class="card-title">{{ documentInfo.title }}</h5>
      <p class="card-text">{{ documentInfo.text1 }}</p>
      <p class="card-text">{{ documentInfo.text2 }}</p>
      <div id="form-edit__wrapper">
        <h5 class="card-title">Утверждение документа</h5>
        <form [formGroup]="documentForm" (ngSubmit)="approve()">
          <div class="form-group"
               [ngClass]="{invalid: documentForm.get('resolution').touched && documentForm.get('resolution').invalid}"
          >
            <label for="exampleFormControlSelect">Резолюция<span style="color: red">*</span></label>
            <select #resValue (click)="resDetection()" id="exampleFormControlSelect" formControlName="resolution">
              <option>Полностью согласен</option>
              <option>Согласен</option>
              <option>Не согласен</option>
              <option>Разрешаю красить в синий цвет</option>
            </select>
          </div>
          <div class="form-group"
               [ngClass]="{invalid: documentForm.get('comment').touched && documentForm.get('comment').invalid}"
          >
            <label for="exampleFormControlText">Комментарий</label>
            <textarea id="exampleFormControlText" cols="30" rows="5" formControlName="comment"></textarea>
          </div>
          <div class="form-buttons">
            <button class="btn btn-primary"
                    type="submit"
                    [disabled] = "documentForm.invalid || isDisabledApprove"
                    (click)="isApproved = true"
            >
              Утвердить
            </button>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled] = "documentForm.invalid || isDisabledReject"
            >
              Отклонить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="btn-exit">
    <button class="btn btn-primary"
            (click)="exit()"
    >
      Выйти
    </button>
  </div>
</div>
